*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

/* --------------------- Variables ----------------------- */
:root{
    --space: 2rem;
    --background-color: #e4f0fa;
    --outer-shadow: -3.536px -3.536px 15px 0px rgba(245, 249, 252, 0.75),
                    4.096px 2.868px 10px 0px rgba(133, 168, 252, 0.75),
                    inset 0.707px 0.707px 0px 0px rgba(243,248,253,0.6);
    --inner-box-shadow: -0.819px -0.574px 1px 0px rgba(255, 255, 255, 0.15),
                        -0.819px -0.574px 3px 0px rgba(255, 255, 255, 0.47),
                        2.598px 1.5px 5px 0px rgba(13, 29, 58, 0.19),
                        0.866px 0.5px 1px 0px rgba(13, 29, 58, 0.06),
                        inset 0.707px 0.707px 0px 0px rgba(255, 255, 255, 0.6),
                        inset -1.638px -1.147px 3px 0px rgba(49, 69, 106, 0.18);
    --color: #555;
    --black: #000;
    --lightgray:#7888a2;
    --orange: #f78e58;
}

body{
    background-color: var(--background-color);
}
body.dark{
    --space: 2rem;
    --background-color: #2b2c3f;
    --outer-shadow: -4.95px -4.95px 11px 0px rgba(52, 56, 72, 0.8),
                    8.192px 5.736px 12px 0px rgba(28, 28, 38, 0.6),
                    inset 0.707px 0.707px 0px 0px rgba(74,76,101,0.16);
    --inner-box-shadow: -0.819px -0.574px 3px 0px rgba(57, 59, 76, 0.9),
                        2.598px 1.5px 5px 0px rgba(44, 46, 60, 0.4),
                        0.866px 0.5px 1px 0px rgba(13, 29, 58, 0.06),
                        inset 0.707px 0.707px 0px 0px rgba(45, 47, 61, 0.79),
                        inset -1.638px -1.147px 3px 0px rgba(45, 47, 61, 0.18);
    --color: #eee;
    --black: #fff;
    --lightgray:#7888a2;
    --orange: #f78e58;
}

/* --------------------- Global Setting ----------------------- */
html{
    scroll-behavior: smooth;
}
.btn{
    background: var(--background-color);
    box-shadow: var(--inner-box-shadow);
    text-transform: capitalize;
    color: var(--lightgray);
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    font-size: 16px;
}
.btn:hover{
    box-shadow: var(--outer-shadow);
}
.empty{
    border-radius: .5rem;
    box-shadow: var(--inner-box-shadow);
    background: var(--background-color);
    padding: 1.5rem;
    text-align: center;
    font-weight: 100%;
    text-transform: capitalize;
    line-height: 2;
    color: var(--black);
}
input, textarea, button, select{
    box-shadow: var(--inner-box-shadow);
    background: var(--background-color);
    border-radius: 20px;
    padding: 1rem;
    border: none;
    width: 100%;
    margin: .6rem 0;
}
input[type='submit']{
    cursor: pointer;
}
.option{
    background: var(--background-color);
    cursor: pointer;
    padding: 1rem;
}
label{
    text-transform: uppercase;
    color: var(--lightgray);
}
form h1{
    text-align: center;
    text-transform: capitalize;
}
form span{
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: red;
}
form p{
    text-align: left;
    color: var(--lightgray);
    margin-bottom: 1rem;
}
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    margin-top: 5rem;
}
.form-container form{
    width: 50vw;
    border-radius: 20px;
    box-shadow: var(--inner-box-shadow);
    padding: 1rem;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
}
.box-container .box{
    margin: 1rem;
    box-shadow: var(--inner-box-shadow);
}
form sup{
    color: red;
}
.heading{
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    color: var(--orange);
    margin-bottom: 1rem;
}
section, .post-editor{
    width: 75vw;
    min-height: 100vh;
    background: var(--background-color);
    border-radius: 10px;
    padding: 4%;
    margin: 8% 4%;
    margin-bottom: 2%;
}

/* ------------------ Custom Scroll Bar -------------- */
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #6d6d6d;
    position: relative;
}
::-webkit-scrollbar-track{
    background: transparent;
    -webkit-border-radius: 20px ;
    border-radius: 20px;
    margin: 30px 10px 30px 10px ;/* top right bottom left */
}

/* --------------------  day-night theme  ---------------------*/
.day-night{       /*class from dark.php*/
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    right: 5%;
    top: 20%;
    box-shadow: var(--outer-shadow);
    cursor: pointer;
    color: var(--color);
}
.day-night:hover{
      box-shadow: var(--inner-box-shadow); 
}
